<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tabview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CF7D041DB7DDB500044125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CF7D1B1DB7DDC100044125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CF7D261DB7DDC200044125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
